.headers-list {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    font-size: 30px;
    &__item {
        border: 1px solid black;
        padding: 15px;
        text-align: center;
        margin: 30px;
        text-transform: uppercase;
        &--active {
            background-color: lightgray;
        }
    }
}