.more-button {
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
    background-color: grey;
    padding: 20px;
    margin: 20px auto;
    width: 200px;
    display: block;
    cursor: pointer;
}